aiohttp
email-validator
fake-useragent
fastapi
flask
flask-pymongo
flask-sqlalchemy
flask-cors
fp
free-proxy
gunicorn
httpx
pydantic
pydantic-settings
pymongo
requests
sqlalchemy
trafilatura
uvicorn
werkzeug
yt-dlp
